<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basket Provider</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid mt-3">
    <div class="row">
    </div>
    <input type="hidden" class="form-control" id="id_link_result" placeholder="Enter Provider" name="link_result" value ="{{ link_result }}">

    <div class="container">
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    {% csrf_token %}
                    <th width="10%">Id</th>
                    <th width="50%">Provider Name</th>
                    <th width="20%">Action</th>

                </tr>
                </thead>
                <tbody>
                {% for key,value in provider_name.items %}
                <tr id="row">
                    <td>{{ key }}</td>
                    <td>{{ value.get_nama_alamat }}</td>
                    <td>
                        <button type="button" class="btn btn-danger delete" id="delete_btn" value="{{ key }}">Delete
                        </button>
                    </td>

                    <!--            <td>{{ user.email }}</td>-->
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col">
            </div>
            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary delete" id="process_btn">Proses</button>
            </div>
        </div>

    </div>


</div>


</body>
</html>

<script type="text/javascript">

    $(document).ready(function(){

        var $row = $('.table').closest("tr"),       // Finds the closest row <tr>
        $tds = $row.find("td");             // Finds all children <td> elements

        console.log($tds);
        var temporer_url = "{% url "temporer" %}";
        var proses_url = "{% url "process_temporer" %}";


        $("#process_btn").click(function(e){
           e.preventDefault();

            console.log("Tes proses");


              $.ajax(
                {
                    dataType: 'text',
                    type:"POST",
                    url: "/process-temporer/",
                    data:{
                        "csrfmiddlewaretoken":$( "input[name='csrfmiddlewaretoken']" ).val()
                    },
                    success: function( data )
                    {
                            window.close();
                         window.open(proses_url, "_blank");
                    }
             })


        });

   $('tr').on('click','#delete_btn',function(e){
           e.preventDefault();

            console.log("delete");
            var id = $(this).attr("value");
            console.log(id);
             $.ajax(
                {
                    dataType: 'text',
                    type:"POST",
                    url: "/update-temporer/",
                    data:{
                        "id": id,
                        "link_result":"-",
                        "csrfmiddlewaretoken":$( "input[name='csrfmiddlewaretoken']" ).val()
                    },
                    success: function( data )
                    {

                        window.open(temporer_url, "popupWindow", "width=600,height=600,scrollbars=yes");
                    }
             })

        });





    });






</script>