{% extends 'base.html' %}
{% block title %} Master {% endblock %}

{% block content %}
<div class="container">
        <div class="row mt-3">
            <div class="col-sm-3">
                <button type="button" id="btn_tambah_master" class="btn btn-primary" >
                  Tambah Master
                </button>

            </div>

        </div>

        <div class="row mt-3">

            <table id="albumse" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
<!--                    <th></th>-->
                    <th style="width:2%" data-data="rank">Provider ID</th>
                    <th style="width:20%" data-data="rank">Nama</th>
                    <th style="width:30%" data-data="rank">Alamat</th>
                    <th style="width:2%" data-data="rank">Kategori</th>
                    <th style="width:10%" data-data="rank">Phone</th>



                </tr>
                </thead>
            </table>
        </div>

</div>


<script>



      $(document).ready(function() {

            $('#btn_tambah_master').click(function(){
              var url = "master-add";
               window.open(url);
              return false;
            });


         var table =     $('#albumse').DataTable({
              ajax: {
              url: "{% url 'master_liste' %}",
              type: 'GET',
              dataSrc: "",
          },


           columnDefs: [



                   {
                    "render" : function(data,type,row){
                        switch(data){
                            case "1":
                                return "Rumah Sakit";
                                break;
                            case "2":
                                return "Klinik";
                                break;
                            case "3":
                                return "Apotek";
                            case "4":
                                return "Lab";
                            case "5":
                                return "Praktek";
                            case "6":
                                return "Optik";
                            default :
                                return data;

                        }
                    },
                    targets : 3
                  }
              ],

          columns: [
<!--          {-->
<!--                className: 'dt-control',-->
<!--                orderable: false,-->
<!--                data: null,-->
<!--                defaultContent: '',-->
<!--            },-->
                  {   data: "provider_id" },
                  {   data: "nama_provider" },
                  {   data: "address" },
                  {   data: "category_1" },
                  {   data: "tel_no" },


              ],
          });




<!--         // Add event listener for opening and closing details-->
<!--            $('#albumse tbody').on('click', 'td.dt-control', function () {-->
<!--                var tr = $(this).closest('tr');-->
<!--                var row = table.row(tr);-->

<!--                if (row.child.isShown()) {-->
<!--                    // This row is already open - close it-->
<!--                    row.child.hide();-->
<!--                    tr.removeClass('shown');-->
<!--                } else {-->
<!--                    // Open this row-->
<!--                    row.child(format(row.data())).show();-->
<!--                    tr.addClass('shown');-->
<!--                }-->
<!--            });-->


      });
</script>

{% endblock %}