{% extends 'base.html' %}
{% block title %} Master {% endblock %}

{% block content %}
<div class="container">
        <div class="row mt-3">
            <div class="col-sm-3">
                <button type="button" id="btn_tambah_master" class="btn btn-primary" >
                  Tambah Master
                </button>

            </div>

        </div>

        <div class="row mt-3">

            <table id="albumse" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
<!--                    <th></th>-->
                    <th style="width:2%" data-data="rank">Provider ID</th>
                    <th style="width:20%" data-data="rank">Nama</th>
                    <th style="width:30%" data-data="rank">Alamat</th>
                    <th style="width:2%" data-data="rank">Kategori</th>
                    <th style="width:10%" data-data="rank">Phone</th>
                    <th style="width:10%" data-data="rank">Edit</th>
                    <th style="width:10%" data-data="rank">Delete</th>



                </tr>
                </thead>
            </table>
        </div>

</div>


<script>



      $(document).ready(function() {

            $('#btn_tambah_master').click(function(){
              var url = "master-add";
               window.open(url);
              return false;
            });


         var table =     $('#albumse').DataTable({
              ajax: {
              url: "{% url 'master_liste' %}",
              type: 'GET',
              dataSrc: "",
          },


           columnDefs: [

                    {

                         "render" : function(data,type,row){
                          return '<button id="proses_master" type="button" class="btn btn-primary">Proses Master</button>'
                        },
                        targets : 5

                    },

                    {

                         "render" : function(data,type,row){
                          return '<button id="delete_master" type="button" class="btn btn-danger">Delete Master</button>'
                        },
                        targets : 6

                    },

                   {
                    "render" : function(data,type,row){
                        switch(data){
                            case "1":
                                return "Rumah Sakit";
                                break;
                            case "2":
                                return "Klinik";
                                break;
                            case "3":
                                return "Apotek";
                            case "4":
                                return "Lab";
                            case "5":
                                return "Praktek";
                            case "6":
                                return "Optik";
                            default :
                                return data;

                        }
                    },
                    targets : 3
                  }
              ],

          columns: [

                  {   data: "provider_id" },
                  {   data: "nama_provider" },
                  {   data: "address" },
                  {   data: "category_1" },
                  {   data: "tel_no" },



              ],
          });



           $('#albumse tbody').on('click', '#proses_master', function () {
            var parent = table.row($(this).parents('tr'));
            var data = parent.data();
            data.row_index = parent.index();


            var temporer_url = "{% url "ajax_temporer_master" %}";
            $.ajax(
                {
                    dataType: 'json',
                    method:"POST",
                    url: temporer_url,
                    data:
                    {
                        "processed_file":JSON.stringify(data),
                        "csrfmiddlewaretoken":$( "input[name='csrfmiddlewaretoken']" ).val()
                    },
                    success: function( data )
                    {
                        if (data.data == 200)
                        {
<!--                             window.location.href = '{% url "edit_master" %}';-->
                             window.open('{% url "edit_master" %}','_blank');
                        }
                    }
                 })
                 return false;
        });



        $('#albumse tbody').on('click', '#delete_master', function () {
            var data = table.row($(this).parents('tr')).data();
            var temporer_url = "{% url "ajax_delete_master" %}";
            $.ajax(
                {
                    dataType: 'json',
                    method:"POST",
                    url: temporer_url,
                    data:
                    {
                        "processed_file":JSON.stringify(data),
                        "csrfmiddlewaretoken":$( "input[name='csrfmiddlewaretoken']" ).val()
                    },
                    success: function( data )
                    {
                        if (data.data == 200)
                        {
                            console.log("Hapus berhasil");
                        }else{
                            console.log("Hapus gagal");
                        }
                    }
                 })
                 return false;
        });


         function fetchData() {
            $.ajax({
                dataType: 'json',
                url: "{% url "show_updated_masters" %}",
                method: 'GET',
                success: function(response) {
                    // Process the AJAX response
                    var status = response.message.status;
                    var item_master = response.message.object;
                    console.log("Tes");
                    console.log(item_master.category_1);
                    switch(item_master.category_1){
                            case 1:
                                item_master.category_1 = "Rumah Sakit";
                                break;
                            case 2:
                                item_master.category_1 = "Klinik";
                                break;
                            case 3:
                                item_master.category_1 = "Apotek";
                                break;
                            case 4:
                                item_master.category_1 = "Lab";
                                break;
                            case 5:
                                item_master.category_1 = "Praktek";
                                break;
                            case 6:
                                item_master.category_1 = "Optik";
                                    break;

                    }

                    var rowToUpdate = table.row(item_master.row_index);

                    // Update the data for the row
                    var newData = {
                        provider_id: item_master.id_provider,
                        nama_provider: item_master.provider_name,
                        stateId : item_master.stateId,
                        cityId : item_master.cityId,
                        category_1 : item_master.category_1,
                        category_2 : item_master.category_2,
                        address : item_master.address,
                        tel_no : item_master.tel_no,
                    };

                    rowToUpdate.data(newData).draw(false);
                },
                error: function() {
                    console.log('Error fetching data');
                }
            });
        }




        // Attach visibility change event listener
        document.addEventListener('visibilitychange', function() {
            // Check if the page is visible
            if (!document.hidden) {
                // Page is visible, trigger AJAX request
<!--                console.log("Page is visible");-->
                fetchData();
            }
        });



      });
</script>

{% endblock %}