{% extends 'base.html' %}
{% block title %} Tambah Master {% endblock %}

{% block content %}
<div class="container">


        <div class="row mt-3 bg-light text-dark rounded">
            <div id="alert_success" class="d-none alert alert-success">
              <strong>Berhasil !</strong> <label>Penambahan item master <label class="h2" id="nama_master_lbl"></label> berhasil</label>
            </div>

            <div id="alert_gagal" class="d-none alert alert-danger">
                <strong>Gagal!</strong> Penambahan item master gagal.
            </div>
                <form id="configform" name="input" action="#">
                <div class="mb-2 ">
                    <label for="nama_provider" class="form-label">Nama Provider</label>
                    <input type="text" class="form-control" id="nama_provider" placeholder="Masukan Nama Provider" name="nama_provider"  required>
                  </div>

                <div class="mb-2">
                    <label for="alamat_provider" class="form-label">Alamat Provider</label>
                    <input type="text" class="form-control" id="alamat_provider" placeholder="Masukan Alamat Provider" name="alamat_provider"  required>
                  </div>

                <div class="mb-2">
                    <label class="form-label">Daftar Provinsi</label>
                     <input class="form-control" list="datalistOptionsProvinsi" id="provinsi_provider" placeholder="Provinsi..ketik untuk mencari..." name="provinsi_provider">
                        <datalist id="datalistOptionsProvinsi">
                            {% for state in state_list %}
                                <option value="{{ state.state_name }}" >{{ state.state_name }}</option>
                            {% endfor %}
                        </datalist>
                  </div>

                <div class="mb-2">
                    <label  class="form-label">Daftar Kota</label>
                        <input class="form-control" list="datalistOptionsCity" id="city_provider" placeholder="Kota..ketik untuk mencari..." name="city_provider">
                         <datalist id="datalistOptionsCity">
                            {% for city in city_list %}
                                <option value="{{ city.city_name }}" >{{ city.city_name }}</option>
                            {% endfor %}
                        </datalist>
                </div>

                <div class="mb-2">
                    <label for="alamat_provider" class="form-label">Telepon Provider</label>
                    <input type="text" class="form-control" id="telepon_provider" placeholder="Nomor Telepon Provider"  name="telepon_provider" required>
                  </div>

                <div class="mb-2">
                    <label  class="form-label">Kategori</label>
                  <input type="text" class="form-control" placeholder="Kategori" id="kategori_provider"  name="kategori_provider">
                </div>

                <div class="mb-2">
                    <label  class="form-label">Latitude</label>
                  <input type="text" class="form-control" placeholder="Latitude" id="latitude_provider"  name="latitude_provider">
                </div>

                <div class="mb-2">
                   <label  class="form-label">Longitude</label>
                  <input type="text" class="form-control" placeholder="Longitude" id="longitude_provider" name="longitude_provider">
                </div>

                <div class=" mb-2 ">
                    <input id="submit_btn" type="submit"  class="btn btn-primary" value="Save"/>
                </div>

                </form>
        </div>




</div>


<script>



      $(document).ready(function() {

            $('#submit_btn').on('click',function(e){
               e.preventDefault();
                 $.ajax(
                    {
                        dataType: 'text',
                        type:"POST",
                        url: "/master/master-add-item",
                        data:{
                            "nama_provider": $("#nama_provider").val(),
                            "alamat_provider": $("#alamat_provider").val(),
                            "provinsi_provider": $("#provinsi_provider").val(),
                            "city_provider" : $("#city_provider").val(),
                            "telepon_provider": $("#telepon_provider").val(),
                            "kategori_provider": $("#kategori_provider").val(),
                            "latitude_provider":$("#latitude_provider").val(),
                            "longitude_provider":$("#longitude_provider").val(),
                            "csrfmiddlewaretoken":$( "input[name='csrfmiddlewaretoken']" ).val()
                        },
                        success: function( data )
                        {
                            if(data==200){
                                $("#alert_success").removeClass("d-none");
                                $("#nama_master_lbl").text($("#nama_provider").val());

                                reset();
                            }

                            if(data!=200){
                                $("#alert_gagal").removeClass("d-none");
                            }
                        }
                 })

            });

        function reset(){
            $("#configform").trigger("reset");
        }

      });
</script>

{% endblock %}