{% extends 'base.html' %}
{% block title %} Model {% endblock %}

{% block content %}

<div class = "container-fluid mt-3">
    <div class="row">
    </div>
    <form action = "{% url 'model:create_model' %}"method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-3">
                {% csrf_token %}
                <input class="form-control" type="file" id="formFile" name="documentModel">
        </div>

        <div class="col-sm-3">
                <button type="submit" class="btn btn-primary" >Buat Model</button>
        </div>

    </div>
    </form>


    <div class = "row">
        <div class="col-sm-12">
                     <table class="table">
        <thead>
          <tr>
            <th>Nama Model</th>
            <th>Skor Akurasi</th>
            <th>Waktu Generate</th>
          </tr>
        </thead>
        <tbody>
        {% for model in list_model %}
          <tr>
            <td>{{ model.model_name }}</td>
            <td>{{ model.accuracy_score }}</td>
            <td>{{ model.created_at }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

        </div>
    </div>

</div>
{% endblock %}
